{
  "presets": [
    "minify",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "Android >= 5",
            "iOS >= 11",
            "> 0.25%, not dead"
          ],
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ]
  ],
  "comments": false
}
